img{
/*    margin: 5px auto;*/
/*    width:100%;*/
    height:200px;
/*    float:left;*/
/*    align-content: center;*/
/*    align-self: center;*/
}

.left{
/*    text-align: center;*/
    width: 50%;
/*    margin: 0 auto;*/
    float: left;
/*    position: relative;*/
}

.right{
/*    text-align: center;*/
    width: 50%;
/*    margin: 0 auto;*/
    float: left;
/*    position: relative;*/
}

.result{
/*    float: left;*/
    
/*    text-align: left;*/
}

.artfilter{
    width: 100%;
}

.five{
    width: 20%;
    float: left;
}

.word{
    text-align: center;
}

.five img{
    height: 125px;
}